USE [master]
GO
/****** Object:  Database [WWTTMS]    Script Date: 1.05.2020 00:26:52 ******/
CREATE DATABASE [WWTTMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WWTTMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WWTTMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WWTTMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WWTTMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WWTTMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WWTTMS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1.05.2020 00:26:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1.05.2020 00:26:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[Admin_Name] [nvarchar](50) NOT NULL,
	[Admin_Surname] [nvarchar](50) NOT NULL,
	[Password] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crew]    Script Date: 1.05.2020 00:26:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crew](
	[Crew_ID] [int] IDENTITY(0,1) NOT NULL,
	[Crew_Password] [int] NOT NULL,
	[Crew_Availability] [int] NOT NULL,
 CONSTRAINT [PK_Crew] PRIMARY KEY CLUSTERED 
(
	[Crew_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriber]    Script Date: 1.05.2020 00:26:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriber](
	[Sub_ID] [int] IDENTITY(100,1) NOT NULL,
	[Sub_Name] [nvarchar](50) NOT NULL,
	[Sub_Surname] [nvarchar](50) NOT NULL,
	[Sub_Password] [int] NOT NULL,
	[Sub_Address] [nvarchar](50) NOT NULL,
	[Sub_Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subscriber] PRIMARY KEY CLUSTERED 
(
	[Sub_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 1.05.2020 00:26:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Ticket_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ticket_Message] [nvarchar](50) NOT NULL,
	[Ticket_Done] [int] NOT NULL,
	[Sub_ID] [int] NOT NULL,
	[Crew_ID] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Ticket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [Admin_Name], [Admin_Surname], [Password]) VALUES (1000, N'Burak', N'Güneş', 12345)
INSERT [dbo].[Admin] ([ID], [Admin_Name], [Admin_Surname], [Password]) VALUES (1001, N'Melisa', N'Yıldız', 12345)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Crew] ON 

INSERT [dbo].[Crew] ([Crew_ID], [Crew_Password], [Crew_Availability]) VALUES (0, 12345, 1)
INSERT [dbo].[Crew] ([Crew_ID], [Crew_Password], [Crew_Availability]) VALUES (1, 12345, 0)
INSERT [dbo].[Crew] ([Crew_ID], [Crew_Password], [Crew_Availability]) VALUES (2, 12345, 0)
SET IDENTITY_INSERT [dbo].[Crew] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscriber] ON 

INSERT [dbo].[Subscriber] ([Sub_ID], [Sub_Name], [Sub_Surname], [Sub_Password], [Sub_Address], [Sub_Email]) VALUES (100, N'Oğuz', N'Gül', 12345, N'Ankara', N'ogzgl06@gmail.com')
INSERT [dbo].[Subscriber] ([Sub_ID], [Sub_Name], [Sub_Surname], [Sub_Password], [Sub_Address], [Sub_Email]) VALUES (102, N'Selin', N'Kara', 12345, N'İstanbul', N'ogzgl06@gmail.com')
INSERT [dbo].[Subscriber] ([Sub_ID], [Sub_Name], [Sub_Surname], [Sub_Password], [Sub_Address], [Sub_Email]) VALUES (103, N'Furkan', N'Türkmen', 12345, N'İzmir', N'ogzgl06@gmail.com')
SET IDENTITY_INSERT [dbo].[Subscriber] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([Ticket_ID], [Ticket_Message], [Ticket_Done], [Sub_ID], [Crew_ID]) VALUES (1, N'Help', 0, 100, 1)
INSERT [dbo].[Ticket] ([Ticket_ID], [Ticket_Message], [Ticket_Done], [Sub_ID], [Crew_ID]) VALUES (2, N'Help', 0, 103, 0)
INSERT [dbo].[Ticket] ([Ticket_ID], [Ticket_Message], [Ticket_Done], [Sub_ID], [Crew_ID]) VALUES (4, N'Designerrrrrrrrrrrrrrrrrrrrrrrr', 0, 102, 0)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Crew] FOREIGN KEY([Crew_ID])
REFERENCES [dbo].[Crew] ([Crew_ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Crew]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Subscriber] FOREIGN KEY([Sub_ID])
REFERENCES [dbo].[Subscriber] ([Sub_ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Subscriber]
GO
USE [master]
GO
