@page
@model Ceng396.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="mb-25 pb-25">
    <div class="card mb-25 pb-25 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-md-12">

            <div class="container bg-dark mt-5 pb-5 ">
                <h3 class="text-center text-white">Welcome</h3>
                <h3 class="text-center text-white">Water Works Company</h3>
                <div class="text-center">
                    <img class="w-25 h-25 card-img ml-5 mr-5" src="~/Image/sudamlası.jpg">
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>