@page
@model Ceng396.Pages.WelcomeModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div class="card mb-25 pb-25 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container bg-dark mt-5 pb-5">
            <h3 class="text-white">Welcome Subscriber : @Model.Username</h3>
            <hr />
            <div class="container pb-5 mt-5">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>
                                <li>
                                    <a class="text-white" asp-area="" asp-page="/Sub_Explain_Ticket">Explain your ticket here.</a>
                                </li>
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>
                                <a  class="btn btn-danger" asp-page="Index" asp-page-handler="Logout">Logout</a>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
